---
import { getCollection } from 'astro:content';
import Card from '../../components/Card.astro';
import Layout from '../../layouts/Layout.astro';
import { contentSlug, formatDate } from '../../lib/content';

const posts = (await getCollection('posts'))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="Blog" description="Writing about software architecture, engineering, and tools.">
  <section class="article">
    <h1>Blog</h1>
    <div class="grid">
      {posts.map((post) => (
        <Card
          href={`/blog/${contentSlug(post.id)}/`}
          image={post.data.image}
          meta={formatDate(post.data.date)}
          title={post.data.title}
          excerpt={post.data.excerpt}
        />
      ))}
    </div>
  </section>
</Layout>
